*{
margin: 0;
padding: 0;
font-family: 'josefin Sans', sans-serif ;
box-sizing: border-box;
}

.hero{
height: 100vh;	
width: 100%;
background: url(selpon.jpeg);
background-size: cover;
background-position: center;


}

nav{
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 45px;
padding-left: 8%;
padding-right: 8%;
}

.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;

}


.navbar .logo{
width: 160px;
cursor: pointer;
margin-top: -0%;
margin-left: -3%;
}




span{
	color: navajowhite;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 30px;
}

nav ul li a:hover{
	color: black;
	text-decoration: none;
	transition: 1s;
}

nav ul li a{
	color: orangered;
	text-decoration: none;
	font-weight: 1000;
	font-size: 25px;
	

}
.btn{
	background-color: skyblue;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	padding: 10px 25px;
	border-radius: 25px;
	transition: transform .2s;

}
.btn:hover{
	transform: scale(1.1);
	
}
.content{
	position: absolute;
	top: 50%;
	left: 8%;
	transform: translateY(-50%);
}

}
h2.logo{
	font-size: 50px;
	color: powderblue;

}
h3{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color:skyblue;
	font-size: 20px;
	letter-spacing: 2px;
}
.newslatter form{
	width: 380px;
	max-width: 100px;
	position: relative;
}
.newslatter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid #f9004d;
	outline: none;
	border-radius: 30px;
}
.newslatter form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color: skyblue;
	color: white;
	cursor: pointer;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #868686;
	top: 6px;
	right: 6px;

}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: grid;
	place-items: center;

	--bkg: #5eb3fd;
	--white: #e7e6e6;

	background-color: var(--white);
	background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}

.container {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
	overflow: hidden;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.title h1 {
	font-size: 25vmin;
	font-weight: 900;
	font-family: "Montserrat", sans-serif;
	color: white;
}

.ghost {
	width: 8vmin;
	height: 12vmin;
	background-color: var(--white);
	background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
	background-image: radial-gradient(ellipse at 35% 40%, #000 8%, transparent 0%),
		radial-gradient(ellipse at 65% 40%, #000 8%, transparent 0%),
		radial-gradient(ellipse at 50% 60%, #000 8%, transparent 0%);
	border-radius: 100% / 70% 70% 0% 0%;
	transform: translateX(100em) rotateZ(-90deg);
	position: relative;
	opacity: 0.9;
	mix-blend-mode: exclusion;
	animation: ghostMove 4s ease-out infinite;
}
@keyframes ghostMove {
	0% {
		transform: translateX(30em) rotateZ(-90deg);
	}
	100% {
		transform: translateX(-35em) rotateZ(-90deg);
	}
}
.ghost div {
	position: absolute;
	width: 20%;
	background-color: var(--white);
	background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}
.ghost div:nth-of-type(1) {
	height: 7vmin;
	left: 0;
	bottom: -6vmin;
	border-radius: 100% / 0% 0% 50% 50%;
}
.ghost div:nth-of-type(2),
.ghost div:nth-of-type(4) {
	height: 4vmin;
	left: 20%;
	bottom: -3vmin;
	border-radius: 100% / 50% 50% 0% 0%;
	background-color: transparent;
}
.ghost div:nth-of-type(3) {
	height: 4vmin;
	left: 40%;
	bottom: -3.95vmin;
	border-radius: 100% / 0% 0% 60% 60%;
	background-color: var(--white);
}
.ghost div:nth-of-type(4) {
	left: 60%;
}
.ghost div:nth-of-type(5) {
	height: 3vmin;
	left: 80%;
	bottom: -2.9vmin;
	border-radius: 100% / 0% 0% 70% 70%;
	background-color: var(--white);
}

